{{#if showUpdateMonsterForm}}
<h1>Update Monster</h1>
  <div>
    <form>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="name">Name</label>
            {{input value=name id="name" class="form-control" placeholder=monster.name}}
          </div>
          <div class="form-group">
            <label for="blurb">Blurb</label>
            {{input value=blurb id="blurb" class="form-control" placeholder=monster.blurb}}
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            {{input value=description id="description" class="form-control" placeholder=monster.description}}
          </div>
          <div class="form-group">
            <label for="image">Image URL</label>
            {{input value=image id="image" class="form-control" placeholder=monster.image}}
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="location">Location</label>
            {{input value=location id="location" class="form-control" placeholder=monster.location}}
          </div>
          <div class="form-group">
            <label for="danger">Danger Level</label>
            {{input value=danger id="danger" class="form-control"}}
          </div>
          <div class="form-group">
            <label for="attack">At Risk for</label>
            {{input value=attack id="attack" class="form-control" placeholder=monster.attack}}
          </div>
          <div class="form-group">
            <label for="recommendation">Recommendation</label>
            {{input value=recommendation id="recommendation" class="form-control" placeholder=monster.recommendation}}
          </div>
        </div>
        <button {{action 'updateMonster' monster}} class="btn btn-info btn-lg center-block">Update</button>
      </div>
    </form>
  </div>
{{else}}
<button {{action 'toggleUpdateMonsterForm'}} class="btn btn-info btn-sm">Update Monster</button>
{{/if}}
