{{new-monster saveMonster="saveMonster"}}
{{#each model as |monster|}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-10">
          <h2>{{monster.name}}</h2>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-8">
          <h3>{{monster.blurb}}</h3>
          <h4>Location: {{monster.location}}</h4>
          <h4>Danger Level: {{monster.danger}}</h4>
          <h4>Risk Factors: {{monster.attack}}</h4>
          <h3>Recommendation: {{monster.recommendation}}</h3>
        </div>
        <div class="col-sm-4">
          {{#link-to 'monster' monster.id}}
            <img src={{monster.image}} alt={{monster.name}} class="img-responsive img-rounded">{{/link-to}}
        </div>
      </div>
    </div>
  </div>
{{/each}}
